#main-content {
	/*border:1px solid #000;*/
	width:75%;
	margin:auto;
	margin-top:1em;
	padding:0;
}

/* Logo */
#site-logo {
	width:300px;
}
@media only screen and (max-width: 1000px) {
  #site-logo {
	margin-top:-76px;
	position:relative;
	z-index:999;
  }
}
@media only screen and (max-width: 768px) {
  #site-logo {
	margin-top:-50px;
  }
}

h2.page-title {
	margin-top:1em;
	margin-bottom:2em;
	font-size:1.75em;
}
.centered {
	text-align:center;
}