form {
    width: 80%;
    margin-left: auto; 
	margin-right:auto;
}

form p {
    font-size:0.9em;
}

input {
	margin-bottom:1em !important;
}

input[type="text"], input[type="password"] {
	width:20em;
}

input[type=submit] {
	display:block; 
	margin-top:2em; 
	margin-bottom:2em; 
	margin-left:auto; 
	margin-right:auto;
}

form h3 {
    font-size:1.25em;
}

form#login {
	text-align:center;
}

form#login input{
	margin-left:auto;
	margin-right:auto;
}

form#login input[type="text"], form#login input[type="password"] {
	width:15em;
}

@media only screen and (max-width: 1000px) {

	form {width: auto;}

}

@media only screen and (max-width: 768px) {
	
	input[type="text"], 
	input[type="password"], 
	input[type="email"], 
	input[type="url"],
	input[type="date"], 
	input[type="month"], 
	input[type="time"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="week"], 
	input[type="number"], 
	input[type="search"], 
	input[type="tel"], 
	input[type="color"], 
	textarea {
		width: 80% !important;
	}

}