div#sidebar {
	float:left; 
	margin-top:3em;
	clear:left;
	width:300px;
}

ul#menu-sidebar {
	/*border:1px solid #000;*/
	margin:0;
	list-style-type: none;
}

ul#menu-sidebar li {
	margin-left:-2em;
	padding-left:2em;
	padding-right:1em;
}

ul#menu-sidebar li div.label {
	width:auto;
	margin-left:-1em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:2em;
	padding-right:1.5em;	
	-webkit-transform: skewX(30deg);
	-moz-transform: skewX(30deg);
	-ms-transform: skewX(30deg);
	-o-transform: skewX(30deg);
	transform: skewX(30deg);
	display:inline-block;
}

ul#menu-sidebar li a {
	display:inline-block;
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
    text-decoration:none;
}

ul#menu-sidebar li.active div.label {
	background-color:#fc3;
}

ul#menu-sidebar li.disabled a {
	color:gray;
}

/* Mobile */
@media only screen and (max-width: 1000px) {



}

@media only screen and (max-width: 768px) {

	div#sidebar {
		width:auto;
	}


	div#sidebar {
		float:none; 
		margin:1em 0;
	}

	ul#menu-sidebar {
		margin-left:0.5em;
	}

	ul#menu-sidebar li {
		float:left;
		margin-left:-1em;
		padding-top:0.5em;
		padding-bottom:0.5em;
		padding-left:2em;
		padding-right:1em;
	}

	ul#menu-sidebar li div.label {
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
		padding:0;
		border-bottom:3px solid transparent;
	}

	ul#menu-sidebar li a {
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
		display:block;
	    text-decoration:none;
	    margin:0 0.5em;
	}

	ul#menu-sidebar li.active div.label {
		background-color:transparent;
		border-bottom:3px solid #fc3;
	}

	div#main-content {
		/*clear:both;*/
		/*margin-top:6em;*/
	}

}