#university-links-bar {
    display: none;
    background-color: #fc3;
}

#university-links {
    padding:0.3em 0;
	display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom:0;
    list-style-type: none;
}

#university-links li {
    margin:0;
}

#university-links li a {
    margin:0 0.5em;
    font-family: "Open Sans", Verdana, Geneva, sans-serif;
    font-size:12px !important;
    font-weight:700;
    display:block;
    padding: 0.25em 1em;
    font-size:0.8em;
    font-weight: bold;
    color: #73726F;
    text-decoration: none;
    text-transform: uppercase;
}

#university-links li a:hover {
    color:#063;
}

@media only screen and (min-width: 1000px) {
    div#university-links-bar {
        display:block;
    }
}
